.ui-context{
	position: relative;
}

.ui-line{
	background-color: #000000;
	height: 2px;
	
	position: absolute;
}

.ui-callout-body{
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 5px;
	padding-bottom: 5px;
	
	border-width: 2px;
	border-color: #222222;
	border-style: solid;
	
	background-color: #85D2CB;
	opacity:0.9;
	filter:alpha(opacity=90); /* For IE8 and earlier */
	position: absolute
}
.ui-callout-text{
	text-align: center;
	font-size: 24px;
}
.ui-path{
	position: absolute;
}

.ui-frame{
	border-width: 2px;
	border-color: #85D2CB;
	border-style: solid;
	position: absolute;
}
.ui-frame-lable{
	top: -18px;
	color: #85D2CB;
	position: absolute;
}

.ui-element{
	position: absolute;
}